/* .navbar-brand {
  font-size: 2rem !important;
} */


.navbar {
  background-color: lightgray !important;
}

.search-area {
  padding-top: 50px !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block !important;
}
